<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackShineLogin</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/nav2.css"/>
    <link rel="stylesheet" href="/community.css"/>
</head>

<body>

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a href="/Index.ejs"><img src="/รูปภาพ/LOGO2.png" class="logo"/></a>
    <div class="BGnav"></div>
    <ul>
      <li class="item"><a href="/news.ejs">MANUAL</a></li>
      <li class="item"><a href="/download.ejs">Gameplay</a></li>
      <li class="item"><a href="/community.ejs">Community</a></li>
      <li class="item button"><a href="/logout" class="btn2">LogOut</a></li>
    </ul>
  </nav>

    <div class="BGIMG"></div>
      
      <div class="table-menu">
        <div class="BGcontent"> 
          <div class="content">
            <h1>Community</h1>
            <div class="content01">
              <form
                action="mailto:hamza_2641@hotmail.com"
                method="POST"
                enctype="text/plain">
                <label><b>Your Name:</b></label>
                <input type="text" name="yourName" value="" />
                <br /><br />
                <label><b>Your Email:</b></label>
                <input type="email" name="yourEmail" value="" />
                <br /><br />
                <label><b>Your Message:</b></label>
                <br /><br />
                <textarea name="yourMessage" cols="30" rows="10"></textarea>
                <br /><br />
                <a type="submit" href="/community.ejs" class="btn">Submit</a>
                <br /><br /><br />
              </form>
              
              <div class="content-contact">
                <a href="https://www.youtube.com/channel/UC-9RhZzy20Gzo4byqBnxe9g"><img src="/รูปภาพ/YB.png" class="YB"/></a>
                <a href="https://www.facebook.com/profile.php?id=100003561443750"><img src="/รูปภาพ/FB.png" class="FB"/></a>
                <a href="https://www.instagram.com/ham_harry/"><img src="/รูปภาพ/IG.png" class="IG"/></a>
              </div> 
                
              <p>  
                <b>Email: </b>
                <a href="mailto: hamza_2641@hotmail.com">hamza_2641@hotmail.com</a>
              </p>
            </div>
            <a href="https://www.bu.ac.th/th/"><img src="/รูปภาพ/bu.png" alt="BU" style="width: 13%;"></a>
          </div>
        </div>
        </div>
        <footer>
          <p>© 2021 BlackShine the Series</p>
        </footer>
</body>
</html>