<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlackShineLogin</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/nav.css" />
    <link rel="stylesheet" href="/Index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

  </head>

  <body>
    <div class="main">
      <div class="submain1">

          <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <a href="/Index.ejs"><img src="/รูปภาพ/Logo2.gif" class="logo"/></a>
            <div class="BGnav"></div>
            <ul>
              <li class="item"><a href="/news.ejs">MANUAL</a></li> 
              <li class="item"><a href="/download.ejs">Gameplay</a></li>
              <li class="item"><a href="/community.ejs">Community</a></li>
              <li class="item button"><a href="/logout" class="btn2">LogOut</a></li>
            </ul>
          </nav>

          <div class="BGIMG"></div>

          <div class="table-menu">
            <div class="content-index">
              <img src="/รูปภาพ/LOGO2.png" class="logo2"/>
              
              <div>
                <a href="/download.ejs" class="btn">let's start</a>
              </div>
            </div>
          </div>
        </div>

     

      <footer>
        <p>© 2021 BlackShine the Series</p>
      </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/navscript.js"></script>
  </body>
</html>
