*{
    margin: 0; 
    padding: 0; 
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

nav{
    height: 150px;
    width: 100%;
}

.logo{
    width: 100px;
    line-height: 150px;
    margin: 50px 50px;
    cursor: pointer;
    transition: transform 0.3s;
}
.logo:hover{
    transform: scale(1.2);
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 150px;
    margin: 0 15px;
}

nav ul li a{
    color: aliceblue;
    font-size: 20px;
    padding: 10px 13px;
    border-radius: 20px;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: #9c3100;
    background: #ffc000;
    transition: 0.2s;
}

.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 150px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.btn2{
    background-color: #ffc000;
    color: #9c3100;
    text-decoration: none; 
    border: 2px solid transparent; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.3s;
    margin: 0 10px;
}

.btn2:hover{
    transform: scale(1.2);
    color: aliceblue;
    background-color: #ff5100; 
    box-shadow: 0 0 5px #ff5100, 
                0 0 20px #ff5100,
                0 0 50px #ff5100;
}

.BGnav{
    display: none;
}

@media (max-width: 921px) {
    nav{
        background-color: blueviolet;
        height: 100px;
    }

    .BGnav{
        display: block;
        background-color: blueviolet;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        z-index: -1;
    }

    nav ul li{
        line-height: 100px;
        display: block;
    }

    .logo{
        width: 90px;
        line-height: 100px;
        margin: 10px 30px;
    }

    .checkbtn{
        display:block;
        line-height: 100px;
    }

    ul{
        position: fixed;
        width: 100%;
        background-color: rgb(117, 37, 192);
        top: -100%;
        text-align: center;
        z-index: -3;
        transition: all .5s;
    }

    nav ul li a:hover{
        color: #ffc000;
        background: none;
    }

    #check:checked ~ ul{
        top: 100px;
    }
}






